.cssmq-responsive { width: 320px;}

@media (orientation: landscape){ 
.cssmq-responsive { width: 468px;}
}

body{
font-size:16px;
margin:0 auto;
overflow:scroll;
}

a:hover{
text-decoration:underline;
background-color:#7ba428;
color:yellow;
}

a.TopOver {
color:white;text-decoration:none;
}

a.TopOver:link{
color:white;
font-size:1em;
text-decoration:none;
}

a.TopOver:hover{
color:white;
font-size:1em;
text-decoration:none;
background-color:BurlyWood;
}

a.TopOver:visited{
color:white;
font-size:1em;
text-decoration:none;
}


a.mBar:hover{
font-size:1em;
font-weight:bold;
text-decoration:none;
background-color:#7ba428;
color:yellow;
}
 
.mBar{
font-size:1em;
font-weight:bold;
text-decoration:none;
text-align:center;
}


a.choice:link{
color:white;
font-size:1em;
text-decoration:none;
}

a.choice:hover{
color:white;
font-size:1em;
text-decoration:none;
background-color:OrangeRed;
}

a.choice:visited{
color:white;
font-size:1em;
text-decoration:none;
}
